<%- include("partials/header"); -%>

    <h1>Home</h1>
   


  <% signins.forEach(function(signin){ %>

    <h1><%=signin.name%></h1>
    <p>
    <%=signin.email%>
    <a href="/signins/<%=signin._id%>"></a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>