


    <h1>Your details:</h1>
    <h2>Name</h2>
    <p><%=name%></p>
    <h2>Email-id</h2>
    <p><%=email_id%></p>
    <h2>Organization's name</h2>
    <p><%=organization%></p>
    <h2>Employee id</h2>
    <p><%=empid%></p>


<%- include("partials/footer"); -%>